<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>
<h1>Details</h1>
<table>
    <tr>
        <th>FullName</th>
        <td></td>
    </tr>
    <tr>
        <th>Gender</th>
        <td></td>
    </tr>
    <tr>
        <th>Mail</th>
        <td></td>
    </tr>
    <tr>
        <th>Phone</th>
        <td></td>
    </tr>
    <tr>
        <th>DateOfBirth</th>
        <td></td>
    </tr>
    <tr>
        <th>Address</th>
        <td></td>
    </tr>
    <tr>
        <th>CreatedAt</th>
        <td></td>
    </tr>

</table>
</body>
</html>