<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Fullname</th>
    </tr>
    <th:block th:each="user : ${accountList}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getFullname()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>